<footer>
	<div>contact <a href="mailto:hello@devjourney.io">hello@devjourney.io</a></div>
</footer>

<style>
	footer {
		background-color: #FFFFFF;
		padding: 1rem;
		/* pushes footer to bottom of screen, used with body flex col */
		margin-top: auto; 
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
</style>