:root {
  --font-fallback: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-body: "IBM Plex Sans", var(--font-fallback);
  --font-mono: "IBM Plex Mono", Consolas, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
    "Courier New", Courier, monospace;
  --font-serif: "Abril Fatface", cursive, var(--font-fallback);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* ensures a footer that sticks to bottom of screen */
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: var(--font-body);
  font-size: 1rem;
  line-height: 1.625;

  background: var(--theme-bg);
  color: var(--theme-text);
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--font-serif);
  margin-bottom: 1.38rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--theme-text-light);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

p {
  color: var(--theme-text-light);
}

small,
.text_small {
  font-size: 0.833rem;
}

a {
  color: var(--theme-accent);
  font-weight: 400;
  text-underline-offset: 0.08em;
  text-decoration: none;
  align-items: center;
  gap: 0.5rem;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  outline: 2px solid currentColor;
  outline-offset: 0.25em;
}

strong {
  font-weight: 600;
  color: inherit;
}

/* :root {  
}

:root {
  --user-font-scale: 1rem - 16px;
  --max-width: calc(100% - 2rem);
}

@media (min-width: 50em) {
  :root {
    --max-width: 40em;
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 65em;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
}

:is(h1, h2) {
  max-width: 40ch;
}

:is(h2, h3):not(:first-child) {
  margin-top: 3rem;
}

.flex {
  display: flex;
  align-items: center;
}

img.cover {
  width: 100%;
  max-height: 50vh;
  object-fit: cover;
}

blockquote {
  font-size: 1.5rem;
  --padding-block: 1rem;
  --padding-inline: 1.25rem;
  --color: var(--theme-divider);

  display: flex;
  flex-direction: column;

  padding: var(--padding-block) var(--padding-inline);
  margin-left: calc(var(--padding-inline) * -1);
  margin-right: calc(var(--padding-inline) * -1);

  background: transparent;
  border-left: calc(var(--padding-inline) / 2) solid var(--color);
  border-radius: 0;
}

blockquote .source {
  font-weight: 500;
  color: var(--color);
  font-size: 1rem;
} */
