main {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1024px;
}

@media (max-width: 400px) {
  section {
    max-width: 100%;
  }
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
