<p>Auth is done.</p>

<p><a href="/">Continue</a></p>

<script>
	console.log(document.location.href); // TODO store some kind of access code in cookie now so we can check for the user server-side?
	// TODO or somehow 'refresh' supabase client so that users don't have to reload the page to see that we have a user? 
</script>
