<a id="login" href="#">Login with Github</a>

<script>
	import { createClient } from '@supabase/supabase-js';
	
	const supabase = createClient('https://hxihcvtdyzbbylcjorra.supabase.co', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh4aWhjdnRkeXpiYnlsY2pvcnJhIiwicm9sZSI6ImFub24iLCJpYXQiOjE2NTM5MjEwNDMsImV4cCI6MTk2OTQ5NzA0M30.XixoEOPUHIwUV8rxA8EPMwINs7lGMWwvK9qCL2o-5iI');
	const loginBtn = document.querySelector('#login');
	loginBtn.onclick = async (event) => {
		event.preventDefault();

		supabase.auth.signIn({
			provider: 'github' 
		}, {
			redirectTo: 'http://localhost:3000/authdone'
		}).then((response) => {
			alert(JSON.stringify(response.session)); // FIXME not working! response is already null
		}).catch((err) => {
			alert(err.response.text)
		});
	}
</script>