---
import Layout from '../components/Layout.astro';
import PageSection from '../components/PageSection.astro';
---

<Layout title="Flutter Journey">
	<!-- page container -->
	<div class="flex flex-col items-center pt-[200px]">
		
		<PageSection>
			<!-- foobar -->
			<div class="text-center">
				<p>hi</p>
				<p>hi</p>
				<p>hi</p>
			</div>
			<!-- end foobar -->

		</PageSection>

	</div>
	<!-- end page container -->
</Layout>