---
export interface Props {
	classAttrs: string;
}

const { classAttrs } = Astro.props as Props;
// const finalAttrs = `max-w-2xl w-full px-4 ${classAttrs}`;
---
<div class="max-w-2xl w-full px-4 ${classAttrs}">
	<slot />
</div>